# PostgreSQL connection string (Neon recommended)
# Example: postgres://user:password@ep-sunny-1234-pooler.eu-central-1.aws.neon.tech/dbname?sslmode=require
DATABASE_URL=

# Server
PORT=8080

# Firebase auth settings
FIREBASE_PROJECT_ID=
FIREBASE_AUDIENCE=
# Example: https://securetoken.google.com/<project-id>
FIREBASE_ISSUER=https://securetoken.google.com/<project-id>
